*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
body{
    background-image: url(../images/wave.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
main{
    height: 80vh;
    background-image: url(../images/login-bg2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    width: 60%;
}
main .all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
fieldset{
    width: 500px;
    height: 700px;
    box-shadow: 5px 10px 5px rgba(236, 188, 97, 0.5);
}

fieldset img{
    height: 120px;
    width: 120px;
}
fieldset .text{
    font-size: 1.2rem;
    margin-top: 50px;
}
fieldset .email, .password{
    margin-top: 20px;
}
fieldset .email,.password, input{
    border: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    outline: none;
}


fieldset .reset, .submit{
    display: inline-block;
    justify-content: space-between;
    margin-right: 20px;
}
fieldset .button{
    margin-top: 40px;
}
fieldset .button .forgot{
    margin: 20px 0px;
    cursor: pointer;
}
fieldset .button .forgot a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(114, 113, 113);
}
fieldset .button .forgot a:hover{
    color: rgb(63, 63, 245);
    transition: 0.5 ease;
}
fieldset .button a input{
    padding: 10px 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 0.375em;
    cursor: pointer;
    color: white;
    background: linear-gradient(120deg, darkmagenta, crimson, orange);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    font-weight: 500;
}
fieldset .button a input:hover{
    background-position: 0 0;
}

fieldset .button .registration{
    margin-top: 20px;
}




